body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: #d6bd68;
}

header {
    display: flex;
    height: 70px;
    background-color: #2d2c55;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;

}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover {
    color: aliceblue;
}


/*background-color: #d6bd68; dorado Claro*/



.title{
    text-align: center;
    font-size: 40px;
    color: #d6bd68;
    margin-top: 100px;
    font-weight: 100;

}

.container{
width: 100%;
max-width: 1200px;
height: 430px;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin: auto;
}





.container .card {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img {
    width: 330px;
    height: 220px;
}

.container .card h4 {
    font-weight: 600;
}

.container .card p {
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300px;

}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #d6bd68;


}


#publi{
    width: 100%;
    background-color: white;
    margin: 2% 0;
    display: grid;
    grid-template-columns: 700px 400px;
    grid-template-rows: 200px 200px 200px 200px;
}

#publi>div{
    background-color: #2d2c55;
    border: 2px black double;
}

.p-uno{
    grid-row: 1/4;
    background-image: url(.//img/hamburgesa\ 1.webp);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.p-dos{
    background-image: url(.//img/hamburgesa\ 2.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;

}

.p-tres{
    background-image: url(.//img/burguer.avif);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.p-cuatro{
    background-image: url(.//img/3\ hamburguesa.jpeg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}



















