body{
    background-color: cadetblue;
    font-family: 'Times New Roman', Times, serif;

}


h1, h2, h3, h4, h5, h6{
    text-align: center;

}

p{
    color: darkgreen;
   /* font-size: 24;*/
}

div h2{
    color: aquamarine;
}

/* IDs y clase
Son unicos por elementos
 y las Clases son repetibles
*/


#parrafo-especial{
    font-size: 1.5em;
    font-weight: bold;
}


.parrafo{
    color: black;
    font-style: italic;

}

a, img{
    display: block;
}

a{
    margin: 50px 20px;
    text-decoration: none;
    color: black;
    
}


a:hover{
    color: blueviolet;
}

img{
    width: 70%;
    margin: auto;
}

